
* {
  box-sizing: border-box;
}

header {
  margin-left:48px;
}

  .chart_container {
    position:relative;
    margin: 48px;
    height: 506px;
  }

  p#chart {
    position: absolute;
    /*float: right;*/
    overflow: hidden;
    /*margin-right:150px;*/
    width: 1220px;
  }

 

  footer aside{
    clear:both;
  }

  text {
  font: 10px sans-serif;
  }

  .dot {
    stroke: #000;
  }

  .axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .label {
    fill: #777;
  }

   .year.label {
    font: 500 120px "Roboto";
    fill: #ddd;
    width: 60px;
    top:-200px;
    
  }

  .year.label.active {
    fill: #aaa;
  }

  .overlay {
    fill: none;
    pointer-events: all;
    cursor: ew-resize;
  }

   /*aside.sidebar {
    position:absolute;
    float:left;
    left:0;
    width:150px;
    }

    ul.options {
      padding-left: 0px;
    }

    ul.options li {
      list-style: none;
    }

    ul.options li button { 
      width:124px;
      border:none;
      margin: 0px 12px 6px 0px;
      padding:6px;
      font:24px roboto;
      color: white;
    }*/

  


.clearfix {
  overflow: auto;
}

  

  

